@media only screen and (max-width: 1140px) {
    .register-navbar {
        padding: 13px 34px 12px;
        font-size: 14px;
    }

}

@media only screen and (min-width: 1140px) {
    .register-navbar {
        padding: 14px 50px 12px;
        font-size: 16px;
    }
}

.register-navbar {
    color: #fff;
    transition: all .5s ease;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-flex;
    background: var(--btn-gradiant);
    border-radius: 3px;
    border-radius: 5px;
    font-weight: 400;
}

.register-navbar:hover {
    background: linear-gradient(133.65deg, #0581a5, #098b99);
}

.shop-icon {
    margin-left: 30px;
}

.shop-icon-badge {
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    width: 17px;
    height: 17px;
    line-height: 18px;
    background: linear-gradient(133.65deg, #6cc17e 2.24%, #098b99);
    color: #fff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    /* top: 7px; */
    right: -8px;
}

#responsive-navbar-nav a:hover {
    color: var(--green-text-color);
}

.navbar-toggler:focus {
    box-shadow: 1px 1px 10px rgba(148, 148, 148, 0.315) !important;
}

@media only screen and (max-width: 960px) {
    .shop-icon-badge {
        top: -7px;
    }

    .shop-icon {
        vertical-align: -8px;
    }
}

@media only screen and (min-width: 960px) {
    .shop-icon-badge {
        top: 7px;
    }

    .shop-icon {
        vertical-align: -23px;
    }
}

.main-navbar {
    box-shadow: 1px 1px 7px #00000026 !important;
    z-index: 10000 !important;
    padding: 20px 0 !important;
}

.navbar-user-img {
    width: 40px;
    height: 40px;
    margin-top: 6px;
}

.box-under-user-img-navbar {
    left: 0;
    width: 350px;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.navbar-user-img:hover + .box-under-user-img-navbar,
.box-under-user-img-navbar:hover {
    opacity: 1;
    visibility: visible;
}
.on-hover-style:hover{
    background: #ededed;
    transition: all .3s ease;
}
.nav-link-padding{
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x) !important;
}