@media only screen and (max-width: 767px) {
    .single-article-img {
        height: 260px !important;
    }

}
@media only screen and (min-width: 768px) {
    .single-article-img {
        height: 450px !important;
    }

}
.single-article-img {
    object-fit: cover;
}

.article-writer-img {
    height: 50px;
    width: 50px;
}

.share-icon-back {
    background: var(--purple-text-color);
    padding: 11px;
    border-radius: 10px;

}

.s-comment-p {
    border-radius: 6px 6px 4px 4px;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 6%);
    border: 1px solid rgba(86, 90, 207, .2);
    border-bottom: 3px solid var(--purple-text-color);
}
